body {
    background-color: rgb(220, 163, 246);
}

.rating {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.item {
    background-color: rgb(255, 255, 255);
    -webkit-mask-image: url(star.svg);
    mask-image: url(star.svg);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.item-full {
    background-color: rgb(167, 35, 255);
}